version: '3.8'

services:
  db:
    image: postgres:16.1-alpine
    restart: unless-stopped
    container_name: db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - PGDATA=/data/postgres
    volumes:
      - db_data:/data/postgres
    ports:
      - 5432:5432
    networks:
      - default

networks:
  default:

volumes:
  db_data:
